# data
data/
raw_data/
processed_data/
external_data/

# outputs
outputs/
results/*
!results/README.md
figures/
exports/

#
external/

# models and checkpoints
models/
checkpoints/
*.pt
*.pth
*.ckpt

# point clouds / 3D / rasters
*.las
*.laz
*.ply
*.pcd
*.obj
*.stl
*.fbx
*.e57
*.tif
*.tiff

# images / videos
*.jpg
*.jpeg
*.png
*.mp4
*.mov
*.avi

# python
__pycache__/
*.pyc
.venv/
venv/
.env

# notebooks
.ipynb_checkpoints/

# system
.DS_Store
